# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Local Environment Variables
.env*.local
.env

# Next.js build output
/.next/
/out/

# Other
/coverage
/.DS_Store
*.pem
*.log
